.active {
  background-color: lightyellow;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}
